<%= link_to root_path, class: "d-flex text-decoration-none align-items-center font-italic text-primary" do %>
  <%= image_tag "logo.png", alt: "text", height: "100", class: "m-3" %>
  <h1 class="main-title">Chouriço Love Album ❤️</h1>
<% end %>
<div style="position: fixed; top:0; left: 0; width: 100vw; height: 100vh; z-index: -1"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>